<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin | Home</title>
    <link rel="stylesheet" type="text/css" href="admin.css" media="screen,projection">
  </head>
  <body>
    <header>
      <div class = "main">
        <div class="logo">
          <a href="admin.html">
            <img src="srm.png">
          </a>
        </div>
        <u1>
          <li><a href="adminlogin.html">Log Out</a></li>
        </u1>
      </div>
      <div class= "title">
        <h2><small>Machine Acess Control and Predictive Maintenance</small></h2>
          <br />
        <h3><small><center>Admin Access</center></small></h3>
      </div>
      <div class="usebutton">
        <form method="GET" name="user" action="/userlist">
          <input type="submit" class= "btn" value="User Logs">
        </form>
      </div>
      <div class="macbutton">
        <form method="GET" name="machine" action="/machinelogs">
          <input type="submit" class= "btn" value="Machine Health">
        </form>
      </div>
      <div class="promotion">
        <h5><center>Developed by The Project Team</center></h5>
      </div>







    </header>

  </body>
</html>
