<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIIC | Home</title>
    <link rel="stylesheet" type="text/css" href="index.css"
  </head>
  <body>
    <header>
      <div class="main">
        <div class="logo">
          <a href="index.html">
            <img src="logo.png">
          </a>
        </div>
        <u1>
          <li><a href="adminlogin.html">Admin</a></li>
        </u1>
      </header>
      <div class="title">
        <h2><small>Machine Acess Control and Predictive Maintenance</small></h2>
      </div>
      <div class="log-form">
        <form id="log-form" method="post" action="  ">
          <input type="text" name="Registration Number" class="log-control" placeholder="Your Registration Number" required>
          <br>
          <input type="submit" class="machine-access submit" value="machine 1">
          <input type="submit" class="machine-access submit" value="machine 2">
          <input type="submit" class="machine-access submit" value="machine 3">
        </form>
      </div>


  </body>
</html>
