<html>
<head>
<title>Javascript Login Form Validation</title>
<link rel="stylesheet" type="text/css" href="adminlogin.css">
<link rel="shortcut icon" type="image/x-icon" href="tab.png" />

<!-- Include JS File Here -->
<script src="js/login.js"></script>
</head>
<body>
<div class="container">
<div class="main">
<h2>Javascript Login Form Validation</h2>
<form id="form_id" method="post" name="myform">
<label>User Name :</label>
<input type="text" name="username" id="username"/>
<label>Password :</label>
<input type="password" name="password" id="password"/>
<input type="button" value="Login" id="submit" onclick="validate()"/>
</form>
</div>
</div>
</body>
</html>
