<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UserLogs</title>
    <link rel="stylesheet" type="text/css" href="userlogs.css">
  </head>
  <body>
    <header>
      <div class = "main">
        <div class="logo">
          <a href="admin.html">
            <img src="srm.png">
          </a>
        </div>
        <u1>
          <li><a href="adminlogin.html">Log Out</a></li>
        </u1>
        <div class="getbut">
              <a href="/userlist" class="btn">GET DATA</a>
          </section>
          </div>
        <div class="hidden">
        <form method="post" action="/addrfid">
          <div class="getbtn">
            <input type="submit" value="Add into db">
      </section>
      </div>
      </form>
      <form method="post" action="/addrfid2">
          <div class="getbtn">
            <input type="submit" value="Add into db">
      </section>
      </div>
      </form>
      <form method="post" action="/addrfid3">
          <div class="getbtn">
            <input type="submit" value="Add into db">
      </section>
      </div>
      </form>
      </div>  
      </form>
        <div class="data">
          <ul>
            <%
              var list = '';
              for (i = 0; i < userlogs.length; i++) {
                 list += '<li>' + "UserID:     "+  userlogs[i].User +"---------Machine Used:     "+userlogs[i].MachineUsed + "----------Date:     " +  userlogs[i].Date + "---------Time:      " +userlogs[i].Time +'</li>';

                }
              %>
            <%- list %>
          </ul> 
        </div>
        
      <div class="promotion">
        <h5><center>Developed by The Project Team</center></h5>
      </div>
    </header>
  </body>
</html>
