*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  background-image: url(back.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

u1{
  float: right;
  list-style-type: none;
  margin-top: 35px;
  opacity: 0.5;
}

u1 li{
  display: inline-block;
}

u1 li a{
    text-decoration: none;
    color: #222831;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
  }

u1 li a:hover{
    background-color: #e5dfdf;
    color: #000;
  }

.logo img{
    float: left;
    width: 210px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
    opacity: 0.8;
  }

.main{
    max-width: 1200px;
    margin: auto;
  }

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .title h2{
    color: #222831;
    font-size: 30px;
    opacity: 0.7;
  }

  .title h3{
    color: #393e46;
    font-size: 30px;
    opacity: 0.3;
}

.title p{
    color: #fff;
    font-size: 30px;
    opacity: 0.5;
}

.usebutton{
  position: absolute;
  top: 60%;
  left: 44%;
  transform: translate(-50%,-50%);
  opacity: 0.5;
}

.macbutton{
  position: absolute;
  top: 60%;
  left: 53.5%;
  transform: translate(-50%,-50%);
  opacity: 0.5;
}


.button{
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
  }

.btn{
    border: 1px solid #222831;
    padding: 10px 30px;
    color: #222831;
    text-decoration: none;
    transition: 0.5s ease;
  }

.btn:hover{
    background-color: #e5dfdf;
    color: #000;
  }

.promotion{
  position: absolute;
  bottom: 10px;
  width: auto;
  border: transparent;
  opacity: 0.5;
}

.promotion h5{
  color: #222831;
  font-size: 10px;
}
